argcomplete==3.4.0
backports.tarfile==1.2.0
build==1.2.1
CacheControl==0.14.0
certifi==2024.7.4
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
cleo==2.1.0
colorama==0.4.6
commitizen==3.28.0
crashtest==0.4.1
decli==0.6.2
distlib==0.3.8
docutils==0.21.2
dulwich==0.21.7
fastjsonschema==2.20.0
filelock==3.15.4
identify==2.6.0
idna==3.7
importlib_metadata==8.2.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
Jinja2==3.1.4
keyring==24.3.1
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.3.0
msgpack==1.0.8
nh3==0.2.18
nodeenv==1.9.1
packaging==24.1
pexpect==4.9.0
pkginfo==1.10.0
platformdirs==4.2.2
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pycparser==2.22
Pygments==2.18.0
pyproject_hooks==1.1.0
PyYAML==6.0.1
questionary==2.0.1
rapidfuzz==3.9.5
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
shellingham==1.5.4
termcolor==2.4.0
tomli==2.0.1
tomlkit==0.13.0
trove-classifiers==2024.7.2
twine==5.1.1
urllib3==2.2.2
uuid==1.30
virtualenv==20.26.3
wcwidth==0.2.13
xattr==1.1.0
xmltodict==0.13.0
zipp==3.19.2
